.DS_Store
.AppleDouble
.LSOverride
.Trashes
*.swp
*~
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/pkg/
.vscode/
.idea/
*.code-workspace
*.log
**/testdata/
.env
.env.local
.env.*
generated/
tmp/